<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <machineKey validationKey="986F7BF25607DD14EC84DD9DCB21233EAE0A0968310150B6659244E2C64B48BF36444DC515E25B4AF168873372EF2C0A3A5B74D7A7A9D2618E414CA27E0B1E5F"
                decryptionKey="60690901E7382B362EDEC9EEA8DE333439EF5C3168587FF6089A6A2F23A2E824"
                validation="SHA1"
                decryption="AES" />
    
    <membership defaultProvider="XmlMembershipProvider">
      <providers>
        <add name="XmlMembershipProvider" 
             type="Wcjj.Providers.XmlMembershipProvider, Wcjj.Providers"              
             description="XML membership provider" 
             xmlFileName="./Membership.xml"
             applicationName="MyApp"
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="true"     
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="3"              
             passwordAttemptWindow="30"
             />
      </providers>
    </membership>
  </system.web>  
</configuration>

