<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>

    <machineKey validationKey="2D5F6129699ECB685F41D36EC45CB3E9205D7239C0966A94A24880E1630DF1B45ABBA4BA6716F5166575057C7970887A40D7987F7B29CED6E0E24870941F4989" decryptionKey="58ABF57DA5B0A6C967A317CCA44557F171AC0B6B4F09722149BDB997B7CE8BA6" validation="SHA1" decryption="AES" />

    <membership defaultProvider="XmlMembershipProvider">
      <providers>
        <add name="XmlMembershipProvider" type="Wcjj.Providers.XmlMembershipProvider, Wcjj.Providers" description="XML membership provider" xmlFileName="./Membership.xml"
             passwordFormat="Hashed" />
      </providers>
    </membership>
  </system.web>
</configuration>
